body{
  background-color: rgb(227, 233, 233);
}

header{
  background-color: rgb(234, 255, 114);
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 1px;
  gap: 15px;
}

.navegacion {
padding:10px 10px;
}

.navegacion ul{
  display:flex;
  list-style: none;
  text-align: center;
  gap: 20px;
}

.grilla-de-productos{
  flex:1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.producto img{
  width: 250px;
  height: auto;
}