
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body{
  background-color: rgb(227, 233, 233);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background-color: #ffd700;
  display: flex;
  flex-direction: row;  
  justify-content: right;
  align-items: center;
  padding: 25px;
  margin: 1px;
  gap: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

.logo .colo {
  color: rgba(48, 201, 155, 0.555); 
}

/* HEADER */
header .buscador {
  display: flex;
  flex: 1;
  margin: 0 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header .buscador input[type="text"]{
  width: 280px;   
  height: 15px;   
  font-size: 16px;
  padding: 15px 10px;
}

.carrito-logo {
  width: 50px;
  height: auto;
}


header .buscador button{
padding: 7px;
background-color: rgba(83, 83, 83, 0.562);
cursor:pointer;
width: 100px;
height: 40px;
}

.buscador button:hover{
  font-weight: bold;
  background-color: black;
  color: #fff;
}

.logo{
  font-size: 4rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  margin-right: 50%;
  color: rgba(0, 0, 0, 0.719);
}

.navegacion {
padding:20px 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color:black;
}

.navegacion ul{
  display:flex;
  list-style: none;
  text-align: center;
  gap: 20px;
  font-size: 15px;
  transition: font-size 0.4s ease;
}

.navegacion ul a:hover{
  font-size: 20px;
  transform: scale(1,1);
  color:#ffd700
}


main {
  display:flex;
  flex: 1;
}

.grilla-de-productos{
  flex:1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.producto img{
  width: 200px;
  height: auto;
}

.producto{
  display: flex;
  flex-direction: column;
  gap:10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border:none;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
  margin: 10px;
  box-shadow: 0 0 5px gray;
}

.producto button{
  background-color: #ffd700;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.producto button:hover{
  cursor:pointer;
  transform: scale(1,1.2);
  background-color: rgb(48, 201, 155);
  font-size: 15px;
  transition: font-size 0,4s ease;
  color: #fff;
}

.separadores-cat{
grid-column: 1/-1;
justify-self: center;
padding: 20px 20px;
background-color: rgba(0, 0, 0, 0.699);
color: #fff;
font-weight: bold;
border-radius: 5px;
text-align: center;
box-shadow: 0 0 10px gray;
min-width: 70%;
max-width: 1600px;
height: 30px;
line-height: 10px;
}



/* BARRA LATERAL */
aside {
    display: flex;
    flex:1;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 10px;
    max-width: 200px;
} 

aside h3 {
    margin-bottom: 10px;
}

aside ul {
  text-align: left;
  list-style: none;
}

aside li {
    margin-bottom: 8px;
}

aside a {
    text-decoration: none;
    color: #333;
    font-size: 16px; 
    transition: font-size 0.2s ease;
}

aside a:hover {
font-size: 18px;
color:rgb(48, 201, 155);
}


/* hacer RESPONSIVE */

@media (max-width:600px){

header{
flex-direction: column;
justify-items: center;
justify-content: center;
}

.logo{
  margin-right:0;
  font-size: 2rem;
}

.buscador{
  flex-direction:column;
  gap: 10px;
}

header .buscador input[type="text"]{
  width: 100%;
}

.separadores-cat{
  width: 180px;
}

.navegacion ul{
  flex-direction: column;
  gap:10px;
  text-align: center;
  padding:0;
}

main{
  flex-direction: column;
}

aside{
  max-width: 100%;
  margin-bottom: 20px;
}

.grilla-de-productos{
  grid-template-columns: repeat(auto-fit, minmax (180px, 1fr))
}

.producto img{
  width: 150px;
}

footer{
  padding: 40px 20px;
  text-align: center;
}
}


@media(min-width:601px) and (max-width:992px){

header{
  flex-wrap: wrap;
  justify-content: center;
}

.logo{
  font-size: 3rem;
  margin-right: 0;
}

.buscador input[type="text"]{
  width: 220px;
}

main{
  flex-direction: row;
}

aside{
  max-width: 180px;
}

.separadores-cat{
  width: 200px;
}

.grilla-de-productos{
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
}



footer {
  background-color: black;
  padding: 40px 20px; 
  color: #fff;
}


.soporte input{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.soporte{
    background-color: rgba(128, 128, 128, 0.315);
    padding: 10px 10px;
    margin-right: 75%;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 45px;
}

.soporte select, button, label{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 200px; 
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.soporte textarea{
  width: 430px;
  height: 180px;
  border-radius: 5px;
  margin-top: 10px;
}

.soporte button:hover{
  transform: scale(1,1.2);
  background-color: #ffd700;
  cursor:pointer;
}


